<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @scaffolding2_item.description %>
</p>

<%= link_to 'Edit', edit_scaffolding2_item_path(@scaffolding2_item) %> |
<%= link_to 'Back', scaffolding2_items_path %>
